##### [멀티인덱스]
- 2개 이상의 행과 열로 구성된 인덱스

In [6]:
# [1] 모듈 로딩
import pandas as pd
import df_util_2 as util

In [7]:
# [2] 데이터 준비
file1='test_data.csv'
file2='test_data2.csv'

In [8]:
# [3] DF 만들기
df1=pd.read_csv(file1)
df2=pd.read_csv(file2)

In [9]:
# [4] 데이터 확인 => 기본정보
util.checkDataFrame(df1,'df1')
util.checkDataFrame(df2,'df2')

df1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   col1    10 non-null     int64
 2   col2    10 non-null     int64
 3   col3    10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 448.0+ bytes
[Index] : RangeIndex(start=0, stop=10, step=1)
[Columns] : Index(['index', 'col1', 'col2', 'col3'], dtype='object')
[NDim] : 2

df2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lv0     5 non-null      object
 1   lv1     5 non-null      object
 2   lv2     5 non-null      object
 3   col1    5 non-null      int64
 4   col2    5 non-null      int64
 5   col3    5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 368.0+ bytes
[Index] : RangeIndex(start=0, stop=5, step=1)
[Columns] : Index(['lv0', 'lv1', 'lv2', 'col1', 'col2', 'col3'], dtype='object')
[NDim] : 2

In [10]:
df1

  index  col1  col2  col3
0     A     8     6     5
1     C     8     4     3
2     C     8     2     0
3     A     1     8     7
4     B     2     0     7
5     B     4     2     4
6     C     8     8     6
7     C     5     5     6
8     B     3     3     6
9     A     3     1     4

In [11]:
# [5] 멀티인덱스의 행 인덱스 설정
# [5-1] df1의 첫번째 컬럼 행 인덱스로 설정 ==> set_index([컬럼1, 컬럼2])
df11=df1.set_index('index')
df11.index.name=None
df11.index
# 인덱스는 변경되면 안되니까 튜플로 들어감

# 'A'행 데이터 추출
df11.loc['A']

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4

In [12]:
# [5] 멀티인덱스의 행 인덱스 설정
# [5-1] df1의 첫번째, 두번째 컬럼을 행 인덱스로 설정 ==> set_index([컬럼1, 컬럼2])
df12=df1.set_index(['index','col1'])
df12.index.name=None
df12.index
# ('A',8)의 행 추출
df12.loc[('A',8)]

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_11648\2667410353.py:7: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('A',8)]

            col2  col3
index col1
A     8        6     5

In [13]:
# 'A','C' 행 추출
df11.loc[['A','C']]

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4
C     8     4     3
C     8     2     0
C     8     8     6
C     5     5     6

In [14]:
df12.loc[[('A',8),('A',1)]]

            col2  col3
index col1
A     8        6     5
      1        8     7

In [15]:
df12.loc[[('A',8),('C',8)]]

            col2  col3
index col1
A     8        6     5
C     8        4     3
      8        2     0
      8        8     6

멀티인덱스의 여러개 있는 인덱스를 구분하기 위해 사용하는게 level

In [16]:
# 멀티인덱스 속성들 확인
midx=df12.index
print(f'nlevels :{midx.nlevels}')
print(f'levels :{midx.levels}')
print(f'names :{midx.names}')

# 멀티인덱스의 이름 및 레벨을 바꾸는 방법
# - set_names / set_levels
midx.set_names('a',level=0)

nlevels :2
levels :[['A', 'B', 'C'], [1, 2, 3, 4, 5, 8]]
names :['index', 'col1']

MultiIndex([('A', 8),
            ('C', 8),
            ('C', 8),
            ('A', 1),
            ('B', 2),
            ('B', 4),
            ('C', 8),
            ('C', 5),
            ('B', 3),
            ('A', 3)],
           names=['a', 'col1'])

위 코드의 결과를 보면 names 속성이 ['index','col1] 에서 ['a','col1']으로 변경된 걸 볼 수 있음
이렇게 멀티인덱스의 네임 속성을 변경하는게 set_names임
멀티인덱스의 '속성'을 변경하는 건 set_00() 인듯

In [17]:
# 멀티인덱스에서 level0이 동일한 행 추출
# - level0이 'A' 인거
df12.loc['A']

      col2  col3
col1
8        6     5
1        8     7
3        1     4

레벨 1이상 되는 데이터 출력시 df객체.xs() 메서드 사용  
xs.()에서 () 안에 key는 찾고자 하는 값 axis는 방향

In [18]:
# 멀티인덱스에서 level1이 동일한 행 추출
# - level1이 8 인거
# df12.loc[8]  ==> ERROR
df12.xs(8,level=1)

       col2  col3
index
A         6     5
C         4     3
C         2     0
C         8     6

In [19]:
# 일반 인덱스에 행 추가 - 변수명.loc['새로운 행인덱스']=값
# 멀티인덱스에서 행 추가
df12.loc[('D',9),:]=[9,9]
df12

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_11648\803383884.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('D',9),:]=[9,9]
C:\Users\KDP-17\AppData\Local\Temp\ipykernel_11648\803383884.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('D',9),:]=[9,9]

            col2  col3
index col1
A     8      6.0   5.0
C     8      4.0   3.0
      8      2.0   0.0
A     1      8.0   7.0
B     2      0.0   7.0
      4      2.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     3      1.0   4.0
D     9      9.0   9.0

In [20]:
#df12.loc[('D',9),:]

In [21]:
sr1=pd.Series({'col2':10,'col3':99})
sr1

col2    10
col3    99
dtype: int64

In [23]:
df12.loc[('F',102),:]=[sr1]
# 값을 리스트로 만들어야 함

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_11648\2158499778.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('F',102),:]=[sr1]

In [ ]:
df12

            col2  col3
index col1
A     8      6.0   5.0
C     8      4.0   3.0
      8      2.0   0.0
A     1      8.0   7.0
B     2      0.0   7.0
      4      2.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     3      1.0   4.0
D     9      9.0   9.0
F     102   10.0  99.0